body{
    margin:0;
}
.flex{
    display: flex;
}
.header{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
    border-style: none none solid none;
    border-width: 4px;
    border-color: yellow;
}
h1{
    color: yellow;
}
h2{
    background-color: grey;
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.banner{
    background-image: url("../img/white\ bg.webp");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner .flex{
    flex-flow: column wrap;
    width: 15%;
    padding: 2%;
    background-color: rgba(170, 170, 170, 0.233);
    float: right;
    vertical-align: middle;
    margin-right: 2%;
}
.banner .flex a{
    color: black;
    background-color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}
.button{
    text-align: center;
}
.item{
    padding: 20px 20px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: grey;
}
.item a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.item div{
    background-color: grey;
    text-align: center;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}